@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-full;
  background: url("../images/game/bg.png") no-repeat;
  background-size: cover;
}

.main {
  @apply max-w-[1280px] pt-16;
  @apply md:flex md:mx-auto md:flex-wrap;
}

.game {
  @apply md:max-w-[540px] md:mx-auto px-2 mb-16 flex flex-col items-center w-full text-white;
}

.game > .title {
  @apply md:text-2xl text-4xl font-black italic;
}
.game > .title > h2 {
  @apply z-20;
}

.game > .title > .bottom {
  border-radius: 50%;
  box-shadow: 0 0 1rem 1px #fff;
  @apply block  z-10 w-[120%] h-[2px] bg-[rgba(255,255,255,0.6)] -translate-x-[10%] -translate-y-1;
}

.game > img {
  @apply w-full my-2 p-1 border-4 rounded-md border-[#4a95cf];
}

.desc > p {
  text-shadow: 0 0 0.6rem #3a9ecf, 0 0 0.6rem #3a9ecf, 0 0 0.6rem #3a9ecf;

  @apply text-center;
}
