@font-face {
  font-family: NotoSans;

  src: url("../font/NotoSansCJK-Regular.ttc");
}

body {
  font-family: NotoSans;
}

a {
  color: blue;
}

header {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.logo > img {
  height: 4rem;
}

@media (min-width: 768px) {
  .logo > img {
    height: auto;
  }
}

header > nav {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  header > nav {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 1024px) {
  header > nav {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  header > nav {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1536px) {
  header > nav {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media not all and (min-width: 768px) {
  header > nav {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 40;
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

header > nav > a {
  /* @apply md:hover:text-black; */
}

@media (min-width: 768px) {
  header > nav > a:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
}

@media not all and (min-width: 768px) {
  header > nav > a {
    display: block;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }

  header > nav > a:hover {
    --tw-text-opacity: 1;
    color: rgb(79 115 246 / var(--tw-text-opacity));
  }
}

header > nav > a::after {
  content: "/";
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

header > nav > a:hover::after {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
  header > nav > a::after {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1280px) {
  header > nav > a::after {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1536px) {
  header > nav > a::after {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media not all and (min-width: 768px) {
  header > nav > a::after {
    display: none;
  }
}

header > nav > a:last-child::after {
  content: "";
}

.menu-wrapper {
  z-index: 50;
  margin-left: auto;
  margin-right: 1rem;
  box-sizing: content-box;
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.25rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media not all and (min-width: 768px) {
  .menu-wrapper {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 768px) {
  .menu-wrapper {
    display: none;
  }
}

.mobile-menu {
  content: "";
  -webkit-mask: url("../images/menu.svg") no-repeat center center;
          mask: url("../images/menu.svg") no-repeat center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  height: 3rem;
  width: 3rem;
  --tw-bg-opacity: 1;
  background-color: rgb(79 115 246 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.mobile-menu-close {
  content: "";
  -webkit-mask: url("../images/close.svg") no-repeat center center;
          mask: url("../images/close.svg") no-repeat center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  height: 3rem;
  width: 3rem;
  --tw-bg-opacity: 1;
  background-color: rgb(79 115 246 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
